In [21]:
from itertools import groupby
import pandas as pd
import re

In [15]:
df = pd.DataFrame([['James', 'P3abc334df34sdf234f'],['Sam', '2.5C'], ['Billy', 'T35'], ['Sarah', 'A85'], ['Felix', '5I']], columns=['Name', 'Section'])

In [12]:
df

    Name Section
0  James      P3
1    Sam    2.5C
2  Billy     T35
3  Sarah     A85
4  Felix      5I

In [16]:
df['Section_Number'] = df['Section'].str.replace('([A-Z]+)', '')
df['Section_Letter'] = df['Section'].str.extract('([A-Z]+)')
df

    Name              Section      Section_Number Section_Letter
0  James  P3abc334df34sdf234f  3abc334df34sdf234f              P
1    Sam                 2.5C                 2.5              C
2  Billy                  T35                  35              T
3  Sarah                  A85                  85              A
4  Felix                   5I                   5              I

In [17]:
from itertools import groupby

[sorted([''.join(x) for _, x in groupby(s, key=str.isalpha)]) for s in df.Section]

[['234', '3', '334', '34', 'P', 'abc', 'df', 'f', 'sdf'],
 ['2.5', 'C'],
 ['35', 'T'],
 ['85', 'A'],
 ['5', 'I']]

In [26]:
def use_re(s):
    return re.findall(r'[\d]+|[a-zA-Z]+',s)

In [19]:
l="3a4b5cdd7e"

In [22]:
use_re(l)

['3', 'a', '4', 'b', '5', 'cdd', '7', 'e']

In [28]:
m="FA2.1MA1APA3Pb2Sn1Cl1F1I3"
use_re(m)

['FA',
 '2',
 '1',
 'MA',
 '1',
 'APA',
 '3',
 'Pb',
 '2',
 'Sn',
 '1',
 'Cl',
 '1',
 'F',
 '1',
 'I',
 '3']

In [29]:
def use_re1(s):
    return re.findall(r'[\u00301-\u0039]+|[a-zA-Z]+',s)

In [30]:
m="FA2.1MA1APA3Pb2Sn1Cl1F1I3"
use_re1(m)

['FA',
 '2',
 '1',
 'MA',
 '1',
 'APA',
 '3',
 'Pb',
 '2',
 'Sn',
 '1',
 'Cl',
 '1',
 'F',
 '1',
 'I',
 '3']

In [41]:
def use_re1(s):
    return re.findall(r'[\d+<\.\d+>?]+|[a-zA-Z]+',s)

In [42]:
m="FA0.2MA0.7APA0.1Pb0.8Sn0.2Cl0.9F1.1I1"
use_re1(m)

['FA',
 '0.2',
 'MA',
 '0.7',
 'APA',
 '0.1',
 'Pb',
 '0.8',
 'Sn',
 '0.2',
 'Cl',
 '0.9',
 'F',
 '1.1',
 'I',
 '1']

In [57]:
def use_re2(s):
    t = re.findall(r'[\d+<\.\d+>?]+|[a-zA-Z]+',s)
    u = pd.DataFrame(t)
    v = u.T
    display(v)

In [58]:
m="FA0.2MA0.7APA0.1Pb0.8Sn0.2Cl0.9F1.1I1"
use_re2(m)

   0    1   2    3    4    5   6    7   8    9   10   11 12   13 14 15
0  FA  0.2  MA  0.7  APA  0.1  Pb  0.8  Sn  0.2  Cl  0.9  F  1.1  I  1